* {
    padding: 0;
    margin: 0;
}
.logo {
    background-color: #f3f1f1;
}
.logo img {
    width: 125px;
    height: 140px;
    margin-left: 90px;
}
.con h4 {
    margin: 35px;
    float: right;
    font-size: large;
    color: rgb(169, 4, 4);
}

.nav-item {
    margin-top: -57px;
    margin-left: 225px;
}

.nav-item ul {
    background-color: rgb(181 30 30);
    display: flex;
    width: 83%;
    padding-top: 8px;
    border-radius: 4px;
    height: 40px;
}
.nav-item ul li {
    display: block;
    height: 100%;
    margin-right: 5%;
    text-decoration: none;
    font-size: larger;
    margin-left: 15px;
}
.btn {
    margin-top: 2%;
    padding: 11px;
    border-radius: 10px;
}
.btn button {
    width: 100px;
    height: 35px;
    font-size: small;
    border-radius: 6px;
    margin-left: 90%;
    margin-top: -2px;
}
.sec {
    display: flex;
}
.left1 {
    width: 50%;
}

.left1 h2 {
    font-size: xxx-large;
    margin-left: 35%;
    margin-top: 80px;
}
.lb {
    margin-left: 35%;
    margin-top: 65px;
    height: 35px;
    font-size: small;
}
.lb button {
    height: 30px;
    border-radius: 6px;
    width: 116px;
    background-color: #f3f1f1;
}
.right1 {
    display: flex;
    float: right;
    width: 55%;
}
.right1 input {
    display: flex;
    padding: 14px 32px 19px;
    width: 60%;
    margin-top: 10px;
    margin-left: 35px;
    align-content: center;
    background-color: #f3f1f1;
    border-style: hidden;
}
.bn {
    display: flex;
}
.bn p {
    margin-top: 30px;
    font-size: 12px;
    margin-left: 40px;
}
.bn button {
    border-radius: 6px;
    margin-left: 8px;
    width: 84px;
    height: 31px;
    margin-top: 22px;
    background-color: #f3f1f1;
}