* {
    padding: 0;
    margin: 0;
}

.logo img {
    width: 220px;
    height: 40px;
    margin-left: 25%;
    margin-top: 3%;
}

.socl {
    display: flex;
    margin-left: 60%;



}

.git i {
    color: white;
    font-size: 32px;

}

.lnked i {
    color: white;
    font-size: 32px;
    margin-left: 60%;
}

/* end of header */
.sec {
    display: flex;
}

.sleft {
    width: 50%;
    height: 50%;
    margin-top: 9%;
}

.sleft h1 {
    color: white;
    font-size: 50px;
    margin-left: 20%;
    margin-top: 9%;
}

.sleft p {
    color: white;
    margin-top: 9%;
    margin-inline: 25px;
    font-size: 20px;
    margin-bottom: 15%;
}

.btn {
    display: flex;
    margin-left: 18%;
}

.btn button {
    font-size: 20px;
    padding: 2%;
    text-align: center;
    margin-left: 2%;
}

.sright {
    width: 50%;
}

.sright h1 {
    color: white;
}

/* end of section (about me) */

.sec1 {
    width: 100%;
    color: white;
    margin-top: 20%;
}

.con h1 {
    margin-top: 3%;
    text-align: center;
    font-size: 32px;
    font-style: oblique;
}

.naam h1 {
    margin-left: 35%;
    font-size: 25px;
    padding: 25px;
    font-style: oblique;
}

.mb h1 {
    margin-left: 35%;
    font-size: 25px;
    padding: 25px;
    font-style: oblique;
}

.em h1 {
    margin-left: 35%;
    font-size: 25px;
    padding: 25px;
    font-style: oblique;
}

/* end of section1 (contact me) */
.sec2 {
    width: 100%;

    margin-left: 10%;
    align-items: center;
    justify-content: center;



}

.sec2 h1 {
    color: white;
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    margin-top: 3%;
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 16px;
}

.progressbar {
    background: white;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progressbar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;

}

.progressbar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #FFF;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #333;
    align-items: center;
    justify-content: center;
    display: flex;
}

.html {
    background: grey;
    animation: html 1s linear forwards;
}

.CSS {
    background: rgb(207, 139, 139);
    animation: CSS 1s linear forwards;
}

.JavaScript {
    background: rgb(61, 46, 46);
    animation: JavaScript 1s linear forwards;
}

.reactjs {
    background: rgb(232, 63, 63);
    animation: reactjs 1s linear forwards;
}

.node {
    background: rgb(142, 64, 64);
    animation: node 1s linear forwards;
}

.MongoDB {
    background: rgb(149, 7, 7);
    animation: MongoDB 1s linear forwards;
}

.mysql {
    background: rgb(163, 5, 5);
    animation: mysql 1s linear forwards;
}

.html span {
    border: 1px solid grey;
}

.CSS span {
    border: 1px solid rgb(207, 139, 139)y;
}

.JavaScript span {
    border: 1px solid rgb(61, 46, 46);
}

.reactjs span {
    border: 1px solid rgb(232, 63, 63);
}

.node span {
    border: 1px solid rgb(142, 64, 64);
}

.MongoDB span {
    border: 1px solid rgb(149, 7, 7);
}

.mysql span {
    border: 1px solid rgb(163, 5, 5);
}

@keyframes html {
    100% {
        width: 86%;
    }
}

@keyframes CSS {
    100% {
        width: 56%;
    }
}

@keyframes JavaScript {
    100% {
        width: 53%;
    }
}

@keyframes reactjs {
    100% {
        width: 45%;
    }
}

@keyframes node {
    100% {
        width: 30%;
    }
}

@keyframes mysql {
    100% {
        width: 66%;
    }
}

@keyframes MongoDB {
    100% {
        width: 40%;
    }
}

/* end of section2 (pro skills) */


.sec21 h1 {
    color: white;
}

.skl {

    margin-right: 15%;
    margin-top: 3%;
}

.fl {
    display: flex;

}

.flx {
    display: flex;
    text-align: center;

}

.pm {
    color: white;
    font-size: 32px;

}

.para {
    color: white;
    text-align: center;

}

.ux {
    color: white;
    font-size: 32px;
}

.wb {
    color: white;
    font-size: 32px;
}

.cc {
    color: white;
    font-size: 32px;
}

.tec {
    color: white;
    font-size: 32px;
}

/* end of section2 ( skills) */



.pr h1 {
    color: white;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 500;
}

.p1 {
    align-items: center;
}

.p1 img {
    margin: 2%;
    width: 97%;
    text-align: center;
}

.p1 h1 {
    color: white;
}

.p1 p {
    color: white;
}

.p2 {
    align-items: center;
}

.p2 img {
    margin: 2%;
    width: 90%;
    text-align: center;
}

.p2 h1 {
    color: white;
}

.p2 p {
    color: white;
}

.p3 {
    align-items: center;
}

.p3 img {
    margin: 2%;
    width: 90%;
    text-align: center;
}

.p3 h1 {
    color: white;
}

.p3 p {
    color: white;
}

.p4 {
    align-items: center;
}

.p4 img {
    margin: 2%;
    width: 90%;
    text-align: center;
}

.p4 h1 {
    color: white;
}

.p4 p {
    color: white;
}

.p5 {
    align-items: center;
}

.p5 img {
    margin: 2%;
    width: 90%;
    text-align: center;
}

.p5 h1 {
    color: white;
}

.p5 p {
    color: white;
}
/* end of section3 (Sample Projects ) */
